<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farsunset.cim.dao.MessageMapper">


	<!-- 获取消息 -->
	<select id="findBySendIdAndForId" resultType="com.farsunset.cim.entity.MessageDTO">
		SELECT
		content,
		create_user,
		create_date
		FROM
			zlp_customer_message
		WHERE
			send_id = #{send_id}
			and for_id = #{for_id}
	</select>



	<!-- 插入 -->
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO zlp_customer_message
		(
		content,
		send_id,
		for_id,
		create_user,
		create_date
		)
		VALUES
		(
		#{content},
		#{send_id},
		#{for_id},
		#{create_user},
		#{create_date}
		)
	</insert>

	<!-- 获取列表 -->
	<select id="findPage" resultType="com.farsunset.cim.entity.MessageDTO">
		SELECT
		content,
		create_user,
		create_date
		FROM
		zlp_customer_message
		WHERE 1=1
		AND send_id = #{sendId}
		AND for_id = #{forId}
		ORDER BY create_date DESC
		LIMIT #{startRow},#{pageSize}
	</select>

	
</mapper>